{{ $icons := dict
"caution" "circle-exclamation"
"important" "circle-info"
"note" "circle-info"
"tip" "lightbulb"
"warning" "triangle-exclamation"
}}

<blockquote class="alert alert-{{ .AlertType }}">
  <p class="alert-heading">
    <span class="alert-icon">{{ os.ReadFile (printf "static/images/icons/%s.svg" (index $icons .AlertType)) | safeHTML }}</span>
    {{ with .AlertTitle }}
    {{ . }}
    {{ else }}
    {{ or (i18n .AlertType) (title .AlertType) }}
    {{ end }}
  </p>
  {{ .Text }}
</blockquote>
