{{ $currentPage := . }}

{{< collapse true >}}
  <details>
  <summary></summary>

  - {{< docref "2025.7/" >}}
  - {{< docref "2025.7/" >}}
  - {{< docref "2025.6/" >}}
  - {{< docref "2025.5/" >}}
  - {{< docref "2025.4/" >}}
  - {{< docref "2025.3/" >}}
  - {{< docref "2025.2/" >}}
  - {{< docref "2024.12/" >}}
  - {{< docref "2024.11/" >}}
  - {{< docref "2024.10/" >}}
  - {{< docref "2024.9/" >}}
  - {{< docref "2024.8/" >}}
  - {{< docref "2024.7/" >}}
  - {{< docref "2024.6/" >}}
  - {{< docref "2024.5/" >}}
  - {{< docref "2024.4/" >}}
  - {{< docref "2024.3/" >}}
  - {{< docref "2024.2/" >}}
  - {{< docref "2023.12/" >}}
  - {{< docref "2023.11/" >}}
  - {{< docref "2023.10/" >}}
  - {{< docref "2023.9/" >}}
  - {{< docref "2023.8/" >}}
  - {{< docref "2023.7/" >}}
  - {{< docref "2023.6/" >}}
  - {{< docref "2023.5/" >}}
  - {{< docref "2023.4/" >}}
  - {{< docref "2023.3/" >}}
  - {{< docref "2023.2/" >}}
  - {{< docref "2022.12/" >}}
  - {{< docref "2022.11/" >}}
  - {{< docref "2022.10/" >}}
  - {{< docref "2022.9/" >}}
  - {{< docref "2022.8/" >}}
  - {{< docref "2022.6/" >}}
  - {{< docref "2022.5/" >}}
  - {{< docref "2022.4/" >}}
  - {{< docref "2022.3/" >}}
  - {{< docref "2022.2/" >}}
  - {{< docref "2022.1/" >}}
  - {{< docref "2021.12/" >}}
  - {{< docref "2021.11/" >}}
  - {{< docref "2021.10/" >}}
  - {{< docref "2021.9/" >}}
  - {{< docref "2021.8/" >}}
  - {{< docref "v1.20/" >}}
  - {{< docref "v1.19/" >}}
  - {{< docref "v1.18/" >}}
  - {{< docref "v1.17/" >}}
  - {{< docref "v1.16/" >}}
  - {{< docref "v1.15/" >}}
  - {{< docref "v1.14/" >}}
  - {{< docref "v1.13/" >}}
  - {{< docref "v1.12/" >}}
  - {{< docref "v1.11/" >}}
  - {{< docref "v1.10/" >}}
  - {{< docref "v1.9/" >}}
  - {{< docref "v1.8/" >}}
  - {{< docref "v1.7/" >}}

  </details>
{{</collapse>}}
