{{ $currentPage := . }}
{{ $title := .Title }}
{{- $branch := getenv "BRANCH" | default site.Params.branch   -}}
{{- $repo_url := getenv "REPOSITORY_URL" | default site.Params.repo.url   -}}
{{- $commit_hash := getenv "COMMIT_REF" | default site.Params.commit.hash   -}}
{{ $component_prefix := printf "<code>%s." (path.Base .RelPermalink) }}
<div class="sidebar-content {{ if .Content }}scroll-trap{{ end }}">
    <h3>{{ $title }}</h3>
    <nav class="sidebar-nav">
        {{ if .Fragments }}
            {{ if .Fragments.Headings }}
                <ul class="page-toc">
                    {{ $headings := .Fragments.Headings }}
                    {{ if and (gt (len $headings) 0) (eq (index $headings 0).Level 0) }}
                        {{/* Case 1: First item is Level 0, use its .Headings */}}
                        {{ $headings = (index $headings 0).Headings }}
                    {{ end }}

                    {{ range $headings }}
                        <li><a class="toc-entry" href="#{{ .ID }}">{{ replaceRE `:\s*$` "" .Title | safeHTML }}</a>
                            {{ if .Headings }}
                                {{ partial "toc_secondary_list.html" (dict "Headings" .Headings "ComponentPrefix" $component_prefix) }}
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
        {{ if and (ne .Params.description "main documentation") .Pages }}
            <h3>In this section</h3>
            <ul class="section-list">
                {{ range .Pages }}
                    {{ if .Title }}
                    <li class="section-item">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
    </nav>

    <div class="sidebar-resource">
        <hr>
        {{ $repo := $repo_url | strings.TrimSuffix ".git"  }}
        {{ with .File }}
            {{ $path := printf "%s/blob/%s/content/%s" $repo $branch .Path }}
            <a href="{{ $path }}" class="ghedit">
                {{ os.ReadFile "static/images/icons/edit.svg" | safeHTML }}
                Edit this page on GitHub
            </a>
        {{ end }}
    </div>
</div>
